@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/main-bg.jpeg) center center/cover no-repeat;
  z-index: -1;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(55, 55, 55, 0.2);
}

.toggle-btn {
  position: fixed;
  right: -5px;
  top: 50%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: translateY(50%) rotate(90deg);
          transform: translateY(50%) rotate(90deg);
  color: #005154;
  font-size: 20px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.3s right;
  transition: 0.3s right;
}

.toggle-btn:hover {
  background: #fff;
  color: #005154;
  right: -1px;
}

.container {
  position: relative;
  width: 85%;
  max-width: 1800px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
  z-index: 2;
}

.nav-title {
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
}

.nav-lang {
  position: relative;
  margin: 0 0 0 auto;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 1px 3px;
  border: 1px solid transparent;
}

.nav-lang-img {
  width: 23px;
  margin-right: 7px;
}

.nav-lang-icon:before {
  position: relative;
  top: -5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-lang-select {
  width: 100%;
  cursor: pointer;
  padding: 1px 3px;
  border: 1px solid #ffffff36;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 0;
  line-height: 0;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.3s opacity, 0.3s -webkit-transform;
  transition: 0.3s opacity, 0.3s -webkit-transform;
  transition: 0.3s opacity, 0.3s transform;
  transition: 0.3s opacity, 0.3s transform, 0.3s -webkit-transform;
  pointer-events: none;
  z-index: 10;
}

.nav-lang-select img {
  position: relative;
  width: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-lang-select img:last-child {
  margin-top: 5px;
}

.nav-lang-select-active {
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.nav-login {
  border: 1px solid #fff;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 10px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.35);
  -webkit-transition: 0.3s background;
  transition: 0.3s background;
  color: #ffffff;
  letter-spacing: 1.5px;
}

.nav-login:hover {
  background: #fff;
  color: #005154;
}

.nav-login i {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.main {
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.main-label, .main-title, .main-descr {
  position: relative;
  font-weight: 700;
  line-height: 80px;
  width: auto;
  opacity: 0;
  -webkit-transition: 0.3s font-size;
  transition: 0.3s font-size;
}

.main-label {
  font-size: 110px;
  -webkit-animation: showTitle 1.4s ease-in-out forwards;
          animation: showTitle 1.4s ease-in-out forwards;
}

.main-title {
  margin-top: 20px;
  font-size: 95px;
  letter-spacing: 1.5px;
  -webkit-animation: showTitle 1.4s ease-in-out forwards;
          animation: showTitle 1.4s ease-in-out forwards;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.main-descr {
  margin-top: 40px;
  font-size: 60px;
  font-weight: 500;
  -webkit-animation: showTitle 1.4s ease-in-out forwards;
          animation: showTitle 1.4s ease-in-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.main-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #fff;
  line-height: 14px;
  border-radius: 20px;
  padding: 0px 6px 3px 6px;
  font-size: 24px;
  cursor: pointer;
  -webkit-animation: animateArrow 1.5s linear infinite;
          animation: animateArrow 1.5s linear infinite;
}

.main-about {
  width: 400px;
  position: absolute;
  right: 0px;
  top: 70%;
  font-size: 17px;
  text-align: justify;
  -webkit-animation: showAbout 1.4s ease-in-out forwards;
          animation: showAbout 1.4s ease-in-out forwards;
}

.iframe-wrapper {
  position: relative;
  z-index: 1;
  background: rgba(55, 55, 55, 0.2);
}

.iframe-wrapper .container {
  padding: 100px 0 50px 0;
}

.iframe-wrapper .iframe {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.iframe-wrapper #t_frame {
  display: none;
}

.footer {
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.2)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(55, 55, 55, 0.2), rgba(0, 0, 0, 0.5));
}

.footer-button {
  margin-top: 10px;
  border: 1px solid #fff;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.35);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #ffffff;
}

.footer-button:hover {
  background: #fff;
  color: #005154;
}

.footer-href {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  color: #fff;
}

.footer-agreement, .footer-help {
  text-decoration: none;
  color: #fff;
}

.footer-help {
  margin-left: 15px;
}

#sppr_l {
  color: #2fc66a;
  max-width: 200px;
  display: none;
  margin: 0 auto;
}

.pr_div {
  text-align: center;
}

.share-icons {
  float: right;
  display: none;
}

.share-icons {
  float: left;
  text-align: center;
  float: unset;
}

.modal-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 10000;
}

.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation: showModal 0.3s linear forwards;
          animation: showModal 0.3s linear forwards;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  color: #ff5d5d;
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.modal-close:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: red;
}

.form-in {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  z-index: 100;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 5px;
  background: #fff;
  -webkit-animation: showModal 1s ease-in-out forwards;
          animation: showModal 1s ease-in-out forwards;
}

.card-header {
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #b6b6b6;
}

@-webkit-keyframes showTitle {
  0% {
    opacity: 0;
    margin-left: 20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes showTitle {
  0% {
    opacity: 0;
    margin-left: 20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@-webkit-keyframes showTitleSecond {
  0% {
    opacity: 0;
    margin-left: 20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes showTitleSecond {
  0% {
    opacity: 0;
    margin-left: 20px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@-webkit-keyframes showTitleMin {
  0% {
    opacity: 0;
    top: -45px;
  }
  100% {
    opacity: 1;
    top: -60px;
  }
}

@keyframes showTitleMin {
  0% {
    opacity: 0;
    top: -45px;
  }
  100% {
    opacity: 1;
    top: -60px;
  }
}

@-webkit-keyframes showTitleMinSecond {
  0% {
    opacity: 0;
    top: -45px;
  }
  100% {
    opacity: 1;
    top: -60px;
  }
}

@keyframes showTitleMinSecond {
  0% {
    opacity: 0;
    top: -45px;
  }
  100% {
    opacity: 1;
    top: -60px;
  }
}

@-webkit-keyframes showAbout {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes showAbout {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes animateArrow {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  35% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes animateArrow {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  35% {
    -webkit-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hideModal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hideModal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1299px) {
  .main-label {
    font-size: 90px;
  }
  .main-title {
    font-size: 75px;
    margin-top: 0;
  }
  .main-descr {
    font-size: 47px;
    margin-top: 10px;
  }
}

@media (max-width: 1099px) {
  .main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-label, .main-title, .main-descr {
    top: -60px;
    -webkit-animation: showTitleMin 1.4s ease-in-out forwards;
            animation: showTitleMin 1.4s ease-in-out forwards;
  }
  .main-about {
    right: 50%;
    top: 65%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-transition: 0.3s top;
    transition: 0.3s top;
  }
}

@media (max-width: 599px) {
  .wrapper .container {
    width: 95%;
  }
  .main-label, .main-title, .main-descr {
    line-height: 65px;
  }
  .main-label {
    font-size: 80px;
  }
  .main-title {
    font-size: 63px;
  }
  .main-descr {
    font-size: 38px;
    margin-top: 0px;
  }
  .main-about {
    top: 63%;
  }
  .main-arrow {
    bottom: 50px;
  }
  .iframe-wrapper .container {
    padding: 50px 0 50px 0;
  }
  .footer-href {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copy {
    margin-top: 5px;
  }
}

@media (max-width: 499px) {
  .toggle-btn {
    top: 85%;
  }
  .main-label, .main-title, .main-descr {
    line-height: 60px;
  }
  .main-label {
    font-size: 75px;
  }
  .main-title {
    font-size: 53px;
  }
  .main-descr {
    font-size: 34px;
  }
  .main-about {
    top: 60%;
    width: 90%;
  }
}

@media (max-width: 399px) {
  .nav-title {
    padding-left: 0;
  }
  .wrapper .container {
    width: 100%;
  }
}

@media (max-width: 374px) {
  .nav {
    padding: 15px 5px;
  }
  .nav-lang {
    margin-right: 11px;
  }
  .main-label {
    font-size: 63px;
  }
  .main-title {
    font-size: 47px;
  }
  .main-descr {
    font-size: 29px;
  }
  .main-about {
    top: 55%;
  }
  .iframe-wrapper .container {
    width: 100%;
  }
  .form-in {
    width: 95%;
  }
  .footer-copy {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */