.iframe-wrapper {
    position: relative;
    z-index: 1;
    background: rgba(55, 55, 55, .2);
    .container {
        padding: 100px 0 50px 0;
    }
    .iframe {
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, .5);
    }
    #t_frame {
        display: none;
    }
}