@keyframes showTitle {
    0% { 
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes showTitleSecond {
    0% { 
        opacity: 0;
        margin-left: 20px;
    }
    100% {
        opacity: 1;
        margin-left: 0px;
    }
}

@keyframes showTitleMin {
    0% { 
        opacity: 0;
        top: -45px;
    }
    100% {
        opacity: 1;
        top: -60px;
    }
}

@keyframes showTitleMinSecond {
    0% { 
        opacity: 0;
        top: -45px;
    }
    100% {
        opacity: 1;
        top: -60px;
    }
}

@keyframes showAbout {
    0% { 
        opacity: 0;
        margin-top: 20px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes animateArrow {
    0% {
        transform: translate(-50%, 0);
    }
    35% {
        transform: translate(-50%, -5px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}


@keyframes showModal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes hideModal {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }