.main {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    &-label,
    &-title,
    &-descr {
        position: relative;
        font-weight: 700;
        line-height: 80px;
        width: auto;
        opacity: 0;
        transition: 0.3s font-size;
    }
    &-label {
        font-size: 110px;
        animation: showTitle 1.4s ease-in-out forwards;
    }
    &-title {
        margin-top: 20px;
        font-size: 95px;
        letter-spacing: 1.5px;
        animation: showTitle 1.4s ease-in-out forwards;
        animation-delay: 0.25s;
    }
    &-descr {
        margin-top: 40px;
        font-size: 60px;
        font-weight: 500;
        animation: showTitle 1.4s ease-in-out forwards;
        animation-delay: 0.5s;
    }
    &-arrow {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        line-height: 14px;
        border-radius: 20px;
        padding: 0px 6px 3px 6px;
        font-size: 24px;
        cursor: pointer;
        animation: animateArrow 1.5s linear infinite;
    }
    &-about {
        width: 400px;
        position: absolute;
        right: 0px;
        top: 70%;
        font-size: 17px;
        text-align: justify;
        animation: showAbout 1.4s ease-in-out forwards;
    }
}